.container {

    width: 80%;
    margin: auto;
    height: 5000px;
    background-color: aqua;
    position: relative;
    display: flex;


}

.test-absolute {
    height: 100px;
    width: 100px;
    background-color: rgb(242, 242, 12);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    border: 1px solid brown;

}

.rel {
    position: sticky;
    left: 20px;
    top: 50px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(84, 92, 92);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

main{

    height: 5000px;
    background-color: red;
    width:80%;

}
aside{
    height: 5000px;
    background-color: rgb(148, 113, 113);
    width:20%;
}